<%- include('includes/head.ejs') %>

  <%- include('includes/navigation.ejs') %>
    <main>
      <% if (users.length> 0) { %>
        <ul>
          <% users.forEach(user=> { %>
            <li>
              <%= user.title %>
            </li>
            <% }) %>
        </ul>

        <% } else { %>
          <h1>No User Found!</h1>
          <% } %>
    </main>
    <%- include('includes/end.ejs') %>